*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    background: #2c2828dc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}
.logo{
    height: 50px;
    width: auto;
    pointer-events: none;
}
.navigation a{
    text-decoration: none;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 700;

}
.navigation a:hover, .navigation a.active{
    background-color: #f9f9f9;
    color: #252424;
}
.para{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 100vh;
}
#text{
    position: absolute;
    font-size: 60px;
    color: #000000ed;
}
.para img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
}
#wi{
    width: 800px;
    height: auto;
    margin: 400px 0 0 -10px;
}
#ham{
    width: 530px;
    height: auto;
    margin: 460px 0 0 400px;
}
#vo{
    width: 560px;
    height: auto;
    margin: 430px 0 0 800px;
    
}
#kl{
    width: 800px;
    height: auto;
    width: 1400px;
    margin: 240px 0 0 790px;
    
}
.sec{
    margin: 20px 120px 40px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Heading{
    text-align: center;
    position: sticky;
    font-size: 55px;
}
.co1{
    color: white;
}
.co2{
    color: rgb(242, 95, 27);
}
.co4{
    color: rgb(22, 47, 238);
}
.co3{
    color: rgb(110, 247, 56);
}
#ws{
    height: 240px;
    width: 320px;
}
#hs{
    height: 240px;
    width: 320px;
}
#vs{
    height: 240px;
    width: 320px;
}
#ks{
    height: 240px;
    width: 320px;
}
.menu{
    position: absolute;
    top: 20%;
    left: 50%;
}
.menu a{
    position: absolute;
    left: calc(50%-10px);
    top: 25px;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s linear,
    top 0.2s linear,
    left 0.2s linear,
    visibility 0.2s linear;
}
.ws:checked~.menu a{
    visibility: visible;
    opacity: 1;

}
